<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hello Bulma!</title>
    <link rel="stylesheet" href="../static/css/bulma.css">
    <!-- <link rel="stylesheet" href="static/css/bulma.css"> -->
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  </head>
  <body>
  <section class="section">
    <div class="dropdown" id="myDropdown">
        <div class="dropdown-trigger">
          <button class="button" onclick=dropdown() aria-controls="dropdown-menu2">
            <span>Wifi <i class="fas fa-wifi"></i> </span>
            <span class="icon is-small">
              <i class="fas fa-angle-down" aria-hidden="true"></i>
            </span>
          </button>
        </div>
        <div class="dropdown-menu" id="dropdown-menu2" role="menu">
          <div class="dropdown-content" id="dropdown-content">
           
          </div>
        </div>
      </div>
  </section>



  

  <div class="modal">
    <div class="modal-background"></div>
    <div class="modal-content">
        <form class="box" onsubmit="event.preventDefault(); showInput();">
            <div class="field">
              <label for="" class="label">Password</label>
              <div class="control has-icons-left">
                <input id="user_input" name="password" type="password" placeholder="*******" class="input" required>
                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
              </div>
            </div>
            <div class="field">
              
              <button onclick=closeModal()  aria-label="close" class="button">Cancel</button>
           
              <button class="button is-success"> Submit</button>

            </div>
          </form>
    </div>
  </div>
  </div>





           
        

  </body>



  <script>


var connections = [
    { SSID: "xfinitywifi", SECURITY: "WPA2", SIGNAL: "20" },
    { SSID: "Phone", SECURITY: "WPA2", SIGNAL: "100" },
    { SSID: "My Wifi", SECURITY: "WPA2", SIGNAL: "30" },
    { SSID: "Zip", SECURITY: "--", SIGNAL: "40" },
    { SSID: "Comments", SECURITY: "--", SIGNAL: "50" }
];
for (var i = 0; i < connections.length; i += 1) {
    console.log(connections[i].SSID)
    const div = document.createElement('a');
    div.className = 'dropdown-item';

    
    switch (connections[i].SECURITY) {
        case 'WPA2':
            div.id = 'open-modal';

            div.innerHTML = `${ connections[i].SSID} <i class="fas fa-lock is-pulled-right"> </i> `;
            document.getElementById('dropdown-content').appendChild(div);
        break;
        default:
            div.id = 'no-modal';
            div.innerHTML = `${ connections[i].SSID} `;
            document.getElementById('dropdown-content').appendChild(div);


    }

}

function dropdown() {

    var element = document.getElementById("myDropdown");
    var contains = element.classList.contains("is-active")

    switch (contains) {
        case true:
            element.classList.remove("is-active");
            break;
        case false:
            element.classList.add("is-active");
            break;
        default:
        // code block
    }

}


function closeModal() {
    var modal = document.querySelector('.modal');  // assuming you have only 1
    var html = document.querySelector('html');
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');


}


function closeAndConnect() {
    var modal = document.querySelector('.modal');  // assuming you have only 1
    var html = document.querySelector('html');
    modal.classList.remove('is-active');
    html.classList.remove('is-clipped');
    console.log("connecting")

}




function showInput() {
        t = document.getElementById("user_input");
        r = t.validity.valid
        console.log(t.value.length, t)
        
        if (r > 7) {
          console.log(t.value, window.lockedSelector )
          $.ajax({
            type: 'POST',
            url: "/data",
            contentType: 'application/json;charset=UTF-8',
            data: JSON.stringify({ "password" : t.value,  "connect" : window.lockedSelector}),
        });

        closeAndConnect()

        } else {
          t.setCustomValidity("Bad password")
          
        }
        

        

    }

const noPswd = document.querySelectorAll('a#no-modal')
for (let i = 0; i < noPswd.length; i++) {
    noPswd[i].addEventListener('click', function(event) {
        var str  = this.innerHTML
        //send socket here
        console.log(str)
        $.ajax({
        type: 'POST',
        url: "/data",
        contentType: 'application/json;charset=UTF-8',
        data: JSON.stringify({ "connect" : str }),
    });

    })
 }


 //add in case and use same id later

const pswd = document.querySelectorAll('a#open-modal')

 for (let i = 0; i < pswd.length; i++) {
    pswd[i].addEventListener('click', function(event) {
        var str  = this.innerHTML
        var res = str.split("<svg");
        //send socket here
        console.log(res[0], "locked")
        window.lockedSelector = res[0]
        var modal = document.querySelector('.modal');  // assuming you have only 1
        var html = document.querySelector('html');
        modal.classList.add('is-active');
        html.classList.add('is-clipped');
        
        modal.querySelector('.modal-background').addEventListener('click', function(e) {
        e.preventDefault();
        modal.classList.remove('is-active');
        html.classList.remove('is-clipped');
    });
 })
 }
// send socket with name to check in list on name click, if value in previous network list just connect
// case for password takew password do nmcli connect




  </script>
  </html>