<!doctype html>
<html>
<head>
  <title>Coral Web Panel</title>
  <link rel="icon" type="image/png" sizes="16x16" href="favicon.png"/>
  <link rel="stylesheet" type="text/css" href="coral.css">
  <script type="text/javascript" src="/static/js/protobuf.min.js"></script>
  <script type="text/javascript" src="/static/js/broadway/YUVCanvas.js"></script>
  <script type="text/javascript" src="/static/js/broadway/Decoder.js"></script>
  <script type="text/javascript" src="/static/js/broadway/Player.js"></script>
  <script type="text/javascript" src="/static/js/ws_client.js"></script>
  <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
        
</head>
<body>
 <div>

  <div id="container"></div>
  <div id="container1"></div>


 </div>
 

</body>
  
</body>
</html>
